<a {{action 'newSquare'}} class="left btn-floating btn-large waves-effect waves-light add-square primary-bg"><i class="mdi-content-add"></i></a>
{{#each squares as |square|}}
<div class="row">
        <div class="col s9">
          <div class="card flex">
            <div class="card-image flex-con-center-1">
                {{#link-to 'square' square.id}}
                  {{square-display square=square}}
                {{/link-to}}
            </div>
            <div class="card-content">
               <span class="card-title primary-text-light">Size: {{square.dimension}}  Tiles: {{square.tiles}}<i class="mdi-navigation-more-vert right small activator"></i></span>
            </div>
            <div class="card-action">
              <button class="btn waves-effect waves-light" {{action 'delete' square}}>Delete this square</button>
            </div>
            <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="mdi-navigation-close right"></i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
          </div>
        </div>
      </div>

{{/each}}




  
