{{liquid-outlet}}
{{#each squares as |square|}}
  <div class="row">
        <div class="square-card-wrapper">
          <div class="card flex">
            <div class="card-image flex-con-center-1">
                {{#link-to 'square' square.id}}
                  {{square-display square=square}}
                {{/link-to}}
            </div>
            <div class="card-content">
               <div class="card-title primary-text-light">   
                Size: {{square.dimension}}  <br /> 
                Tiles <br /> 
                  {{#each square.tileArray as |tile|}}
                    <div class="tile-circle center">
                      <span class="center-1">
                        {{tile}}
                      </span>
                    </div>
                  {{/each}}
                <i class="mdi-navigation-more-vert right small activator"></i>
              </div>
            </div>
            <div class="card-action">
              <button class="btn waves-effect waves-light" {{action 'delete' square}}>Delete this square</button>
            </div>
            <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="mdi-navigation-close right"></i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
          </div>
        </div>
      </div>

{{/each}}




  
